
<p><%= link_to "Add a New Restaurant", new_restaurant_url, class: "button radius" %></p>

<% @restaurants.each do |restaurant| %>
  <%= link_to restaurant.name, restaurant_path(restaurant) %>
  <div class="picture"><%= image_tag (restaurant.image)  %></div>
<% end %>