<h1> Restaurant Details </h1>

<p> <%= @restaurant[:name] %> </p>
<p> Description: <%= @restaurant[:description] %> </p>
<p> Address: <%= @restaurant[:address] %> </p>
<%= image_tag (@restaurant[:image]) %>

